@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-youngSerif: var(--font-young-serif), sans-serif;
  --font-outfit: var(--font-outfit), sans-serif;
  /* Rose */
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;

  /* Stone */
  --color-stone-900: #312e2c;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;

  /* Brown */
  --color-brown-800: #854632;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility text-preset-1 {
  font-family: var(--font-youngSerif);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-youngSerif);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: var(--font-outfit);
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-4 {
  font-family: var(--font-outfit);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

@utility text-preset-4-bold {
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
